# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
.env
.venv

# VS Code
.vscode/


# Mac
.DS_Store


# Logs
*.log


# Generated novels
projects/*/volumes/*/chapters/*.md
projects/*/knowledge_ai
projects/*/original*
projects/*/planning_ai
projects/*/logs


# Vector database
vector_db/


# Model cache
models/


# Temporary
tmp/
temp/
